
<div align="center">
    <form #insertform="ngForm" (ngSubmit)="insertbookdetail(insertform)">
        <div>
            <label>ID : </label>
            <input type="text" #id (ngModel)="id" id="id" name="id"><br><br>
            <label>Name : </label>
            <input type="text" #name (ngModel)="name" id="name" name="name"><br><br>
            <label>Price : </label>
            <input type="text" #price (ngModel)="price" id="price" name="price"><br>
</div><br>
<div>
    <input type="submit" value="submit">
</div>
</form>
</div>
